.site-header{
    background-image: url(realEstate-img-main\ 2/header.jpg);
    background-position: top center;
    height: 300px;
    background-size: cover;
    text-align: center;
    color:white;
    
}
